<html lang="en">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>{{ subject }}</title>
</head>
<body>
    App: <a href="{{ url }}">{{ stat.name }}</a><br>
    Component Type: {{ stat.component_type }}<br>
    Component Name: {{ stat.component_name }}<br>
    CPU Load: {{ stat.cpu_load }}<br>
    Memory Load: {{ stat.memory_load }}<br>
    Threshold Type: {{ threshold_type }}<br>
    Threshold: {{ threshold.threshold }}
</body>
</html>
